<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715399999226-vdh524fsd1kb09uvt3sag0fdev2b0bdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715399999226-vdh524fsd1kb09uvt3sag0fdev2b0bdr</string>
	<key>API_KEY</key>
	<string>AIzaSyC_JoPndcJIMATNFnOOcfIe9Rw2OLwcBJg</string>
	<key>GCM_SENDER_ID</key>
	<string>715399999226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankApp</string>
	<key>PROJECT_ID</key>
	<string>bank-c4ce9</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-c4ce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715399999226:ios:27455f55e2b3c92805e343</string>
</dict>
</plist>